:root {
  --primary: #7d4a91;
  --secondary: #4e315a;
  --third: #ececec;
  --fourth: rgb(154, 152, 152);
  --white: #ffffff;
  --black: #000000;
  --footer: #0cbba2;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Fauna One', sans-serif;
  background-color: var(--third);
}

header {
  display: flex;
}

.header-logo {
  flex: 33.33%;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--primary);
}

li {
  float: left;
}

li a {
  display: block;
  color: var(--white);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: var(--secondary);
}

h4 {
  color: var(--primary);
}

main {
  display: flex;
  justify-content: center;
}

main>div {
  width: 50%;
  margin: 10px;

}

section {
  background-color: var(--white);
}

p {
  color: var(--fourth);
}

input {
  background-color: var(--primary);
  color: var(--white);
  border: 1px solid var(--white);
}

aside {
  background-color: var(--primary);
}

.p-aside {
  color: var(--white);
  padding: 5px;
}

p,
form,
h3,
h4,
input {
  margin: 5px;
  padding: 5px;
}

.footer {
  background-color: var(--white);
}

.footer-logo {
  background-color: var(--white);
  text-align: center;
}

.footer-main {
  background-color: var(--primary) !important;
  width: 100%;
  height: 100px;
}

.footer-main-child {
  float: left;
  width: 50%;
}

.footer-main-image {
  margin-left: 50%;
}

.footer-main-info {
  margin-left: 50%;
}

.footer-signature {
  background-color: var(--footer);
  text-align: center;
}

.footer-signature-info {
  color: var(--white);
}

span {
  color: var(--white);
}